{% extends 'blog/base.html' %}



{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hola</legend>
                <h4>sesion finalizada</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"><a href="{% url 'login' %}">acceder otra vez</a></button>
            </div>
        </form>

    </div>
{% endblock content %}