{% extends 'blog/base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>Blog info</h1>
    </div>
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h3>¡Hola a todos! </h3>
            <p>
            Mi nombre es Andres, soy ingeniero en mecatrónica y desde hace algún tiempo he estado muy interesado en el mundo de la programación, la robótica y la automatización. Hace unos 4 meses, comencé un curso de Python y Django con Coder House, y el resultado de todo mi esfuerzo y aprendizaje es este blog que estás leyendo en este momento.

            Durante este curso, aprendí muchísimo sobre programación en Python, y cómo utilizar el framework de Django para crear aplicaciones web. El proyecto final del curso fue una oportunidad increíble para poner en práctica todo lo que había aprendido, y llevar mi conocimiento al siguiente nivel.
            
            En este blog, compartiré mis experiencias y aprendizajes sobre el proyecto final del curso, así como también otros temas relacionados con la programación, la robótica y la automatización que me apasionan. Espero que este espacio sea un lugar para compartir conocimiento y para seguir aprendiendo juntos.
            
            ¡Gracias por visitar mi blog y espero que disfrutes el contenido tanto como yo disfruto creándolo!
            </p>
    </div>
{% endblock content %}